$primary-color: rgb(22,119,255);
$default-color: #fff;

.primary-button {
    background-color: $primary-color;
    color: #fff;
    padding: 4px 16px;
    border-radius: 5px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    border-width: 0px;
} 

.primary-button:hover {
    opacity: 0.9;
    cursor: pointer;
}

.primary-button:active {
    background-color: darken($primary-color, 20);
}

.primary-button:focus-within {
    animation-duration: 3s;
    animation-name: bordershadow;
}