.grid {
    // background-color: red;
    overflow: auto;

    .header-row {
        display: flex;

        .header-column {
            display: flex;
            flex-direction: column;
        }

        .header-cell {
            display: flex;
            align-items: center;
            justify-content: center;

            border-right-width: 1px;
            border-left-width: 0px;
            border-bottom-width: 1px;
            border-top-width: 0px;
            border-style: solid;
            border-color: #d0d0d0;

            font: 400 13px/19px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;

            padding: 10px;
        }
    }

    .body-row {
        display: flex;

        font: 400 13px/19px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;

        .body-cell {
            text-align: center;
            vertical-align: top;

            border-right-width: 1px;
            border-left-width: 0px;
            border-bottom-width: 1px;
            border-top-width: 0px;
            border-style: solid;
            border-color: #d0d0d0;

            position: relative;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding: 7px 10px 6px;
        }
    }
}